[Unit]
Description=DBG Streaming Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/Splunk_App_For_Planetside2/External_Scripts/scripts/DBG_Streaming_Events.py ozzy75
Restart=always


[Install]
WantedBy=multi-user.target
